body
{
	background-color: #e3e5e4;
    /*background-image: url('/static/bg.png');*/
}

.entry-box {
    background: #fff;
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

.jumbotron {
background-image: url(http://img.zcool.cn/community/01204d578466ac0000012e7ec050b1.jpg);
background-position: top;
background-size: cover;
margin-bottom: 20px;
}

div.pagination {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0 0;
}

.file-preview {
    background-color: white;
    border: 1px solid #ccc;
}

footer {
    background-color: #11281f;
}

ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    /*margin-left: 32px;*/
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
    color: #5d73b7;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}