{% extends "index.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='editormd/css/editormd.preview.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='editormd/css/editormd.css') }}" rel="stylesheet" />
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',filename='editormd/examples/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='editormd/lib/marked.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='editormd/lib/prettify.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='editormd/editormd.min.js') }}"></script>
<script type="text/javascript">
    editormd.markdownToHTML("xblog-content");
</script>
{{ super() }}
{% endblock %}
{% block left_side %}
<div class="content" id="xblog-content">
    <h1 style="text-align:center;color:#337ab7">{{ article.title }}</h1>
    {{ article.body_html| safe }}
    <hr>
    <div>
        <p>
            <span class="glyphicon glyphicon-time">
                博文最后更新时间：
            </span>
            {% if article.update_timestamp %}
            <span>{{ moment(article.update_timestamp).format('LLL') }}</span>
            {% else %}
            <span>{{ moment(article.timestamp).format('LLL') }}</span>
            {% endif %}
        </p>
    </div>
    {% if current_user.is_authenticated %}
    <div style="text-align: right">
        <a href="/update_article/{{ article.id }}">
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
                编辑
            </button>
        </a>
    </div>
    {% endif %}
</div>
<br>
{% endblock %}