{% extends "index.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='editormd/css/editormd.preview.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='editormd/css/editormd.css') }}" rel="stylesheet" />
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',filename='js/replycomment.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/examples/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='editormd/lib/marked.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='editormd/lib/prettify.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='editormd/editormd.min.js') }}"></script>
<script type="text/javascript">
    editormd.markdownToHTML("xblog-content");
</script>
{{ super() }}
{% endblock %}
{% block left_side %}
<div class="content" id="xblog-content">
    <h3 style="text-align:center;color:#337ab7">{{ article.title }}</h3>
    {{ article.body_html| safe }}
    <hr>
    <div>
        <p>
            <span class="glyphicon glyphicon-time">
                博文最后更新时间：
            </span>
            {% if article.update_timestamp %}
            <span>{{ moment(article.update_timestamp).format('LLL') }}</span>
            {% else %}
            <span>{{ moment(article.timestamp).format('LLL') }}</span>
            {% endif %}
        </p>
    </div>
    {% if current_user.is_authenticated %}
    <div style="text-align: right">
        <a href="/update_article/{{ article.id }}">
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
                编辑
            </button>
        </a>
    </div>
    {% endif %}

{% include '_comments.html' %}
<div style="padding: 10px 0; margin: 20px auto; width: 90%; text-align: center;">
  <div>如果觉得对你有帮助，可以请我喝杯茶或者吃个饭</div>
  <button class="btn btn-danger btn-sm" id="rewardButton" disable="enable" onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}">
    <span>打赏</span>
  </button>
    <div id="QR" class="row" style="display: none">
        <div class="col-lg-6" style="text-align: right">
            <img width="60%" height="60%" id="wechat_qr" src="/static/wechatpay.jpg" alt="微信支付">
        </div>
        <div class="col-lg-6" style="text-align: left">
            <img width="60%" height="60%" id="alipay_qr" src="/static/alipay.jpg" alt="支付宝">
        </div>
    </div>
</div>
</div>
<hr>
<h4><i class="fa fa-comment"></i>发表评论</h4>
<div class="row">
    <div class="col-md-8" id="submit-comment-container">
        <form class="submit-comment-form" id="submit-comment-form" method="post" action="">
            {{ commentform.csrf_token }}
            {{ commentform.follow(type='hidden') }}
            <div class="form-group">
                {{ commentform.nickname.label }}{{ commentform.nickname(class='form-control', value=current_user.username) }}
            </div>
            <div class="form-group">
                {{ commentform.email.label }}{{ commentform.email(class='form-control', value=current_user.email) }}
            </div>
            <div class="form-group">
                {{ commentform.body.label }}{{ commentform.body(class='form-control') }}
            </div>
            <div class="text-left">
            {{ wtf.form_field(commentform.submit, class="btn btn-default btn-sm") }}
            </div>
        </form>
    </div>
</div>
<br>
{% endblock %}