{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.css') }}"/>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',filename='editormd/examples/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
<script type="text/javascript">
    $(function () {
        var testEditor = editormd("xblog-editormd", {
            // width: "100%", 请不要添加
            height: 640,
            syncScrolling: "single",
            path: "{{ url_for('static',filename='editormd/lib/') }}",
            saveHTMLToTextarea : true,
            imageUpload: true, //开启图片上传
            imageUploadURL: '/upload', //图片上传后台地址
            onload: function() {
                    // 引入插件 执行监听方法
                    editormd.loadPlugin("/static/editormd/plugins/image-handle-paste/image-handle-paste", function(){
                        testEditor.imagePaste();
                    });
            }
        });
    });
</script>
{{ super() }}
{% endblock %}
{% block page_content %}
<form method="post" action="">
{{ articleform.csrf_token }}
{{ wtf.form_field(articleform.title) }}
{{ wtf.form_field(articleform.article_source) }}
{{ wtf.form_field(articleform.article_type) }}
{{ articleform.body.label }}
<div id="xblog-editormd" class="editormd">
{{ articleform.body() }}
</div>
{{ wtf.form_field(articleform.abstract) }}
{{ wtf.form_field(articleform.submit, class="btn btn-primary") }}
{{ wtf.form_field(articleform.cancel, class="btn btn-danger") }}
</form>
<br>
{% endblock %}