{% extends "base.html" %}

{% block article %}
{% include '_articles.html' %}
    <div style="text-align: center">
      {% import "_macros.html" as macros %}
        <div class="pagination">
         {{ macros.pagination_widget(pagination, '.index') }}
     </div>
    </div>
{% endblock %}


{% block right_side %}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">公告面板</h3>
      </div>
      <div class="panel-body">
        <p><i class="fa fa-user fa-lg"></i> 博主：D-mac</p>
        <p><i class="fa fa-wechat fa-lg"></i> Wechat：NO1Tracy-Mcgrady</p>
        <p><i class="fa fa-envelope fa-lg"></i> Email：386501732@qq.com</p>
        <p><i class="fa fa-github fa-lg"></i> GitHub：<a class="label label-primary" href="https://github.com/dmac21">传送门</a></p>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">博客统计</h3>
      </div>
      <div class="panel-body">
        <p>访问量：<span class="badge">{{ blogviews.views }}</span></p>
        <p>
            博文总数：<span class="badge">{{ total_article_count }}</span>
        </p>
        <p>
            {% for articlesource in articlesources %}
            <a href="/articlesource/{{ articlesource.id }}">{{ articlesource.name }}</a>：
            <span class="badge">{{ articlesource.articles.count() }}</span>
            {% endfor %}
        </p>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
          <h3 class="panel-title">文章分类</h3>
      </div>
      <div class="list-group">
          {% for articletype in articletypes %}
          <a href="/articletype/{{ articletype.id }}" class="list-group-item">{{ articletype.name }}</a>
          {% endfor %}
      </div>
    </div>

    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">热门文章Top5</h3>
      </div>
      <div class="list-group">
          {% for article in top5_articles %}
          <a href="/article/{{ article.id }}" class="list-group-item">{{ article.title }}</a>
          {% endfor %}
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">标签云</h3>
      </div>
      <div class="panel-body">
        <img src="http://bruce.u.qiniudn.com/2014/02/10/wordcloud-en.jpg" class="img-responsive center-block">
      </div>
    </div>
{% endblock %}